### <font color='red'> List Append ,Extend

In [5]:
l = [1,2,3,'raja']
#append will append the list 
l.append([6,7])
print(l)

[1, 2, 3, 'raja', [6, 7]]

In [6]:
#extend means added list will add individual values
l.extend([9,0,4])
l

[1, 2, 3, 'raja', [6, 7], 9, 0, 4]

In [7]:
l=l+[10,'santosh']
l

[1, 2, 3, 'raja', [6, 7], 9, 0, 4, 10, 'santosh']

### <font color='green'> pop() remove()
### <font color='green'>pop by default remove last item in the list or specify index pop(idex)
### <font color='green'>remove removes the first item bydeafult

In [13]:
l = [1,2,3,'raja']
print('list before pop',l)
l1= l.pop() ## remove last entry by default
print('list after pop',l)

list before pop [1, 2, 3, 'raja']
list after pop [1, 2, 3]

In [14]:
l2 = l.pop(1)
print('list after pop',l)

list after pop [1, 3]

In [15]:
l = [1,2,3,'raja','santosh',0,5,7,2,3,1,'the']
l1 = l.remove()
print('list after remove',l1,l)

TypeError: list.remove() takes exactly one argument (0 given)

In [16]:
l1 = l.remove(2)
print('list after remove',l1,l)

list after remove None [1, 3, 'raja', 'santosh', 0, 5, 7, 'the']

In [17]:
l2 = l.remove('the')
print('list after remove',l)

list after remove [1, 3, 'raja', 'santosh', 0, 5, 7]

In [18]:
print('before sort',l)
l.sort() ## not supported because it has both int and string mixed data types
print('after sort',l)

before sort [1, 3, 'raja', 'santosh', 0, 5, 7]

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
l=[1,7,3,4,9,5]
print('before sort',l)
l.sort()
print('after sort',l)

before sort [1, 7, 3, 4, 9, 5]
after sort [1, 3, 4, 5, 7, 9]

In [21]:
l.sort(reverse=True)
print('after reverse sort',l)

after reverse sort [9, 7, 5, 4, 3, 1]

### <font color='green'> difference between sort and sorted

In [22]:
a = ['ornage','bluberry','mango','kiwi']
b= a.sort()
print('a : ',a) ## after sorting applied, a list will be sorted and b will not store any value
print('b :',b)

a :  ['bluberry', 'kiwi', 'mango', 'ornage']
b : None

In [23]:
a = ['ornage','bluberry','mango','kiwi']
b = sorted(a)
print('a : ',a) ## after sorted method applied, a will be as it is and b list will be stored sorted list values
print('b :',b)

a :  ['ornage', 'bluberry', 'mango', 'kiwi']
b : ['bluberry', 'kiwi', 'mango', 'ornage']

### <font color='blue'> Exercise

In [24]:
##Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?
list_1 = [2, 33, 222, 14, 25]
print(list_1[-5]) ##list with negitive index will star from end with "-1" answe should be '2'

2

In [25]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

##Answer :  We are indexing all the elements of the list 'word' to an empty list; hence, 
##the final output would be an empty list. Hence, this method can also be used to delete all the 
##items from a list.

[]

In [26]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

## Answer : sorted(L) will return a sorted list, and when it comes to strings, 
##it happens based on the character ASCII values. First, it compares the ASCII values of 
##the first characters and sorts the strings. If the first characters have the same value, then 
##it proceeds to the second characters and compares their ASCII values; if this matches again, 
##then it proceeds to the third characters, 
##and this continues until you have sorted them. In this way, the strings are sorted in a list.

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [29]:
##Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
# Write code to remove 'SPSS'
input_list.remove('SPSS')
input_list.append('SPARK')
# Write code to append 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPSS']
['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [34]:
##Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
##Pythons syntax is easy to learn & Pythons syntax is very clear
input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
sentence = input_str[0]+' & '+input_str[1]
print(sentence)
## other way and optimized way to do same solution as below
string_1 = ' & '.join(input_str) ## join will take only one argument
string_2 = ' * '.join(input_str) # if you apply join for list it will append the list items and provide a string 
string_3 = ' # '.join(string_1) ## if you apply join for string it will take each char and append the '#'
print(string_1,string_2)
print(string_3)

Pythons syntax is easy to learn & Pythons syntax is very clear
Pythons syntax is easy to learn & Pythons syntax is very clear Pythons syntax is easy to learn * Pythons syntax is very clear
P # y # t # h # o # n # s #   # s # y # n # t # a # x #   # i # s #   # e # a # s # y #   # t # o #   # l # e # a # r # n #   # & #   # P # y # t # h # o # n # s #   # s # y # n # t # a # x #   # i # s #   # v # e # r # y #   # c # l # e # a # r

### <font color='green'>shadowcopying

In [35]:
a = ['mango','ornage','blue berries']
b=a ## copy a list to b , is a shadow copy , if you change in a list automatically changes effected in b list
print(a,b)

['mango', 'ornage', 'blue berries'] ['mango', 'ornage', 'blue berries']

In [36]:
a[0]='Apple'
print(a,b) ## changed in two lists

['Apple', 'ornage', 'blue berries'] ['Apple', 'ornage', 'blue berries']

In [37]:
## inorer to aviod change b list even if a changed 
a = ['mango','ornage','blue berries']
b=a[:]
print(a,b)

['mango', 'ornage', 'blue berries'] ['mango', 'ornage', 'blue berries']

In [38]:
a[0]='Apple'
print(a,b) # now b will not change

['Apple', 'ornage', 'blue berries'] ['mango', 'ornage', 'blue berries']

### <font color='blue'>Exercise

In [39]:
##How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list[2][0])

Python

In [40]:
##Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code.
##In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.
input_str = 'Kumar_Ravi_003'
userInfoList = input_str.split("_")
print(f'{userInfoList[1]}\n{userInfoList[0]}\n{userInfoList[2]}')

Ravi
Kumar
003

### <font color='red'>Boot camp week 2 live session practices , 06/04/2024 2:00 pm - 5:00 pm

## List

### contails mulitiple data types
### allow duplicates
### starts and ends with []
### list is mutable - add, update ,delete,sort an element
================

In [41]:
gorcery = ['milk','bread',100,'oil']
type(gorcery)

list

### various list operations

In [42]:
shoppingCart = []
print('total items in cart',len(shoppingCart))

total items in cart 0

In [43]:
## adding element list - append
shoppingCart.append('iPhone')
shoppingCart

['iPhone']

In [44]:
shoppingCart.append('ipad')
shoppingCart.append('earbuds')
shoppingCart.append('cable')
shoppingCart
print('total items inshopping cart',len(shoppingCart))

total items inshopping cart 4

In [45]:
## adding multiple elements using extend() method
combo_offer = ['backpack','charger','usb']
##using extend here
shoppingCart.extend(combo_offer)
print('total shoppicart' ,shoppingCart)

total shoppicart ['iPhone', 'ipad', 'earbuds', 'cable', 'backpack', 'charger', 'usb']

In [46]:
## uses of index to get individual elements from list it has +ve,-ve index,+ve starts with 0 and -ve starts with -1
print(shoppingCart[-2])

charger

In [47]:
## remove - remove element name(value)
## remove can remove one element at a time,first occurence from left,remove require element value
shoppingCart.remove('ipad')
shoppingCart
shoppingCart.remove('ipad1') ## elemnt not there get run time error
shoppingCart

ValueError: list.remove(x): x not in list

In [50]:
### del keyword
## del requires index to delete elements
shoppingCart
del shoppingCart[3]
shoppingCart
del shoppingCart[10] ## index ou of range
print('final cart',shoppingCart)

IndexError: list assignment index out of range

In [51]:
## pop()
## delete last elemrnt to delete by default
## works with index also
## cannot be delete multiple e;ements , one at a time
### del vs remove vs pop
### pop() method returns which  element deleted
###  del and remove not returms anything
shoppingCart.pop()
shoppingCart

['iPhone', 'earbuds']

In [52]:
shopping_cart = ['iPhone', 'ipad', 'earbuds', 'cable', 'backpack', 'charger', 'usb']
shopping_cart.sort()## asc order
print(shopping_cart) ## dsc order
shopping_cart.sort(reverse=True)
print(shopping_cart)

['backpack', 'cable', 'charger', 'earbuds', 'iPhone', 'ipad', 'usb']
['usb', 'ipad', 'iPhone', 'earbuds', 'charger', 'cable', 'backpack']

## <font color='red'>Tuple
## not modified data(read only) like
     AAdhar number,PAN card
     bank statements,property data
     latitude, longitude
 ### tuple represents ()
 ### can contain duplicates,multiple data types(mixed)
 ### immutable - say no to modify
 ### say no to add element,sort element,delete element

In [53]:
## you can change element in list in tuple but you cannnot add ,delete whole list in tuple
notary =(['plotno:55','owener:santosh'],['plotno:56','owener:raja'])
## if you trasefer owner ship
notary[0][1]='owener:sravani'
print(notary)

(['plotno:55', 'owener:sravani'], ['plotno:56', 'owener:raja'])

In [54]:
pancards = ('axk123','AY45678')
pancards[0] = 'AXk356'
print(pancards) ## immutable , not support

TypeError: 'tuple' object does not support item assignment

### Packing & unpacking
    Works for List,Tuple

In [58]:
ice_cream=('stawberry','vinella','choclate') ## this is packing
## extracting each elemnt is unpacking
falvour1,falvour2,falvour3 = ice_cream
falvour1
falvour2
falvour3

'choclate'

In [59]:
icecreame_list = ['a','b','c']
f1,f2,f3=icecreame_list
print(f1)
print(f2)
print(f3)

a
b
c

In [61]:
#list to tuple
t= tuple(icecreame_list)
print(t)

('a', 'b', 'c')

In [62]:
## tuple to list
l = list(t)
print(l)

['a', 'b', 'c']

### Tuple Eercises

In [2]:
## create sing value tuple 
nt = 1,
type(nt)

tuple

In [3]:
## other way of creating tuple
nt = 1,2,3,4,'Doc'
type(nt)
nt

(1, 2, 3, 4, 'Doc')

In [4]:
## its not a tuple its int
nt = 1
type(nt)

int

In [5]:
## its not a tuple its an int
nt = (2)
type(nt)

int

In [7]:
tuple = (2,3.2,4,5)
##What will the tuple return with sum, min and max function?
print(sum(tuple))
print(min(tuple))
print(max(tuple))

14.2
2
5

In [8]:
##Let's say you have a tuple as x =(1,2,3) and while executing x[2] = 5, what will x return?
x =(1,2,3)
x[2] = 5 ## tuple immutable so it will give error

TypeError: 'tuple' object does not support item assignment

In [9]:
t = ("disco", 12, 4.5)
t[0][2]
##What would be the output here?

's'

In [14]:
## How tuple values replace ? , instead of replace we create another tuple for desire output
t = (1,2,'Disco',7) ## here we want to replace and add 'Hard rock palce of disco and conacte nate to other tuple
t2 = ('yes',0,9)

t3 = t[0:2]+('Hard rock',)+t[3:]+t2[0:]
t3

(1, 2, 'Hard rock', 7, 'yes', 0, 9)

In [19]:
x = (1,8,9,3,7)
x = sorted(x) ## once tuple sorted it will be list , if we wnt tuple again need to cast
y =  tuple (x)
y

TypeError: 'tuple' object is not callable

In [20]:
t= ()
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [21]:
t = (1, 2, 4, 3)
t[4]

IndexError: tuple index out of range

In [22]:
t[3]=5

TypeError: 'tuple' object does not support item assignment

In [24]:
print(t[1:-4])

()

In [25]:
print(len(t))

4

In [34]:
input = ('Monty Python', 'British', 1969)
inputlist = list(input)
print(inputlist)
inputlist.append('Python')
print(inputlist)
tuple(inputlist)
inputlist

['Monty Python', 'British', 1969]
['Monty Python', 'British', 1969, 'Python']

TypeError: 'tuple' object is not callable

## <font color='red'> Set
### storing unique/distincrt elements
    set represnts using {}
    set automatically eliminats duplicates and each element is unique
    set is mutable means changable and un order data structure
    allows muliple data types

In [63]:
color = {'orange','red','blue','white',100}

In [64]:
## adding eemetnt is not order while getting , due to un order nature indexing doesnot support
color[0] ## doesnot support

TypeError: 'set' object is not subscriptable

In [65]:
## adding elements in set
color.add('indigo')
color

{100, 'blue', 'indigo', 'orange', 'red', 'white'}

In [66]:
## remove 
color.remove('orange')
color

{100, 'blue', 'indigo', 'red', 'white'}

### Set for Mathamatics

In [71]:
slaesteam = {'raju','roja','rani','ravi'}
marketingteam={'vector','raju','rani','john'}

## your ask to find employees who are workig more than 1 team
## Intersection fetches common elemt from 2 sets
slaesteam.intersection(marketingteam) ## one option 
slaesteam&marketingteam ## alternative

{'raju', 'rani'}

In [72]:
## your ask to find employees who are workig all teams
## union fetches common elemt from 2 sets
slaesteam.union(marketingteam) ## one option 
slaesteam|marketingteam ## alternative

{'john', 'raju', 'rani', 'ravi', 'roja', 'vector'}

In [73]:
## your ask to find employees who are workig only in salesteam
## difference fetches only salesteam who dont work for marketing team
slaesteam.difference(marketingteam) ## one option 
slaesteam-marketingteam ## alternative

{'ravi', 'roja'}

In [74]:
## your ask to find employees who are workig only for dedicated team means exclude who works for both teams
## symmetric_difference fetches only salesteam and marketing team who worked dedicate to the respective teams
slaesteam.symmetric_difference(marketingteam) ## one option

{'john', 'ravi', 'roja', 'vector'}

In [ ]:
## union vs symmetric difference
## union gives all elements include common
## symmetric difference gives all elements exclude commons

In [6]:
## Exercise
##Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 
list_1 = [5, 1, 3, 4, 4, 5, 6, 7]
list_2 = [3, 3, 5, 5, 1 ,7 ,2]

#Type your answer here
list_3 = sorted(list(set(list_1) & set(list_2)))
print(list_3)

[1, 3, 5, 7]

In [7]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

## <font color='red'>Dictionaries
## dictionaries has key ,value pair 
  {key:value,key:value}
  mutable ds, keycannot repeat
  key is immutable data typle like int/float/string/tuple
  eg:

      {'a':'Apple'}  correct
      {['a']:'Apple'}  invalid(list mutablenot allowed)

In [75]:
dictionary = {'en':'english','tl':'telugu','tn':'tamil','kn':'kannada'}

In [ ]:
## real world examples
{'water': ['pani','jel','neeru','h20']}

In [76]:
[
{'ID':101,'sub':'java'},
    {'ID':102,'sub':'PHP'},
    {'ID':103,'sub':'JS'}
    
]## easily read csv file data in python using dictionary

[{'ID': 101, 'sub': 'java'},
 {'ID': 102, 'sub': 'PHP'},
 {'ID': 103, 'sub': 'JS'}]

In [77]:
## Tuple using as a key example
## employee and sale data
{
    ('john',2016):500,('Mike',2018):900
}

{('john', 2016): 500, ('Mike', 2018): 900}

In [79]:
us = {} ## empty dictionary
type(us)

dict

In [80]:
## adding key value 
us['AL'] = 'Alabama'
us['IL'] = 'Illions'
us

{'AL': 'Alabama', 'IL': 'Illions'}

In [82]:
## adding multiple key vaues using update method
us.update({'TX':'Texas','NY':'New York','CH':'chikago'})
us

{'AL': 'Alabama',
 'IL': 'Illions',
 'TX': 'Texas',
 'NY': 'New York',
 'CH': 'chikago'}

In [85]:
## access value method 1
print(us['TX']) ## if key not there it will throw  erro
print(us.get('TX')) ## if key not there not htow any error

Texas
Texas

In [86]:
print(us.get('TX','no such key')) ## if key not exists default value will get
print(us.get('TyyyX','no such key')) ## if key not exists default value will get

Texas
no such key

In [87]:
## deleting key value pair
del us['TX']
us

{'AL': 'Alabama', 'IL': 'Illions', 'NY': 'New York', 'CH': 'chikago'}

### Important Functions in dictionary

In [88]:
## .keys returns keys
us.keys()

dict_keys(['AL', 'IL', 'NY', 'CH'])

In [89]:
## .values retuns values
us.values()

dict_values(['Alabama', 'Illions', 'New York', 'chikago'])

In [90]:
## .items , returns key value pair
us.items()

dict_items([('AL', 'Alabama'), ('IL', 'Illions'), ('NY', 'New York'), ('CH', 'chikago')])

## Dictionary & Loop

In [91]:
for guessme in us: ## if loop dictionary default returns keys
    print(guessme) ## only returns keys

AL
IL
NY
CH

In [92]:
## values
for guessme in us: 
    print(us.get(guessme))

Alabama
Illions
New York
chikago

In [93]:
## recieving key & value as tuple
for guessme in us.items(): 
    print(guessme) ## tuple

('AL', 'Alabama')
('IL', 'Illions')
('NY', 'New York')
('CH', 'chikago')

In [94]:
## unpacking key ,value
for key,value in us.items(): 
    print(key,value)

AL Alabama
IL Illions
NY New York
CH chikago

In [96]:
## creating dictionary using loop
my_dir = {}
for x in range(1,10):
    print(my_dir)
    my_dir[x]=x+x

{}
{1: 2}
{1: 2, 2: 4}
{1: 2, 2: 4, 3: 6}
{1: 2, 2: 4, 3: 6, 4: 8}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16}

## Activity

In [98]:
## given salries in thusnads an create dictionary with thousands and values in lakhs

salaries = [45000,89000,90000]
my_dic={}
for sal in salaries:
    my_dic[sal] = sal/100000

print(my_dic)

{45000: 0.45, 89000: 0.89, 90000: 0.9}

In [8]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

## get profession of employee for employe id 104

print(Employee_data.get(104)[2])

Product Lead

In [10]:
d={}
print(type(d))

<class 'dict'>

In [12]:
d = {'a':1, 'b':2}
print(type(d))

<class 'dict'>

In [14]:
d = dict(a=1, b=2)
print(type(d))

<class 'dict'>

In [15]:
d = ('a':1, 'b':2)
d

SyntaxError: invalid syntax (337735659.py, line 1)

In [24]:
##From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary,
##in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.
d = {'Name': 'Monty', 'Profession': 'Singer' }
na = d.get('Label')
if na == None:
    print('NA')
else:
    print(na)

## instead of writing above code and avoid error if key is not in dictionary we can pass default value 
answer = d.get('Label','NA')
print(answer)

NA
NA

In [27]:
##Create a SORTED list of all values from the dictionary 
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
print(sorted(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [32]:
dict_1 = {"Python":40, "R":45}
del dict_1['R']
dict_1

{'Python': 40}

In [35]:
d = {'Python':40, 'R':45}
print(type(d.keys()))
print(list(d.keys()))

<class 'dict_keys'>
['Python', 'R']

### <font color='red'>Boot camp week 2 live session -2 practices , 07/04/2024 5:00 pm - 7:30 pm

In [37]:
## capitalize() only first letter make upper letter,upper() will chnage all to capital letters
t = 'hello welocme to python world!'
print(t.capitalize())
print(t.upper())

Hello welocme to python world!
HELLO WELOCME TO PYTHON WORLD!

In [39]:
## captilize n charecter from string
def capitalize_nth(s,n):
    print(s[0:n].lower()+s[n:].capitalize())

s = input('enter string :')
n = input('enter inde')
capitalize_nth(s,n)

TypeError: 'tuple' object is not callable

In [43]:
## center is used for formatting
s = 'Datascinece'
print(s.center(94))
print(s.center(94,'*'))## optional value to replcae space with given value

                                         Datascinece
*****************************************Datascinece******************************************

In [44]:
# count
txt = 'Ilove data science, Data is required'
print(txt.count('Data'))## python case sensitive so it will check capital ,small

1

In [48]:
## find - find the index value start that specific word
txt = 'Ilove data science, Data is required'
print(txt.find('Data'))
print(txt.find('Hello'))
print(txt.find('scienc'))

20
-1
11

In [54]:
## join
##The join() method takes all items in an iterable and joins them into one string.
txt = 'I love data science'
list = ['I LOVE','DATA','SCINCE'] ## list to change string 

txt1 = ','.join(txt)
print(txt1)

txt = ','.join(list)
print(txt)

myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

I, ,l,o,v,e, ,d,a,t,a, ,s,c,i,e,n,c,e
John#Peter#Vicky

In [ ]:
## replace
txt = 'I love R, R is good for  data science'
txt.replace('R','Python')
txt

In [ ]:
## split
## split the string and returns string
txt = 'I love R # R is good for #  data science'
txt.split('#')
print(txt)

In [4]:
## slicing
my = 'datascience'
print(my[0:5:1]) ## here last is step , how many words to jump
print(my[0:5:2]) ## jump 2 steps

datas
dts

## <font color='red' >MCQ Exercises for Boot Camp 2nd week course

In [1]:
s = 'a$b@c@d'
print(s.split('@','$'))## split cannot take two arguments at a time

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
fruits = ['apple', 'mango', ['grapes', 'papaya'], ('banana', 'pomegranate')]
print(fruits[3][0])

banana

In [4]:
list_1 = ['red' , 'orange', 'blue', 'green', 'black', 'white']
print(list_1.sort())

None

In [5]:
num_1=[9,4,2,7]
num_2=[8,3,6,1]
print(sorted(num_1))
print(num_1)
print(num_2.sort())
print(num_2)
##This is the correct answer because the sort() function will modify the original list
##, whereas the sorted() function will create a new list that has the elements of the original list in a sorted manner.

[2, 4, 7, 9]
[9, 4, 2, 7]
None
[1, 3, 6, 8]

In [6]:
l = ['paris','india','china','london']
print(tuple(l+['sri lanka']))

('paris', 'india', 'china', 'london', 'sri lanka')

In [7]:
var=(5)
print(type(var))

<class 'int'>

In [8]:
tup=([1,3,5],"abcd",(2,4),6)
tup[0][2]=7
print(tup)

([1, 3, 7], 'abcd', (2, 4), 6)

In [9]:
a= {1,2,4,5}
b= {5,6,7,8}
print(a-b)

{1, 2, 4}

In [10]:
s= {3,4,5}
s*2
##The multiplication operation is not supported by sets 
##but by lists and tuples. Run the code in a Jupyter Notebook by defining ‘s’ as a list or a tuple.

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [11]:
numbers= {1,0,6,1,4,0,7}
print(len(numbers))

5

In [12]:
dict= {'ab':12,'cd':34,'ef':56}
print(dict[1])

KeyError: 1

In [13]:
marks= {'John':45,'Alex':60}
print(marks.keys())

dict_keys(['John', 'Alex'])

In [14]:
d = {"Python":40, "R":45}
"Python" in d

True

In [15]:
input_dict= {1:"one",2:"two",3:"three"}
for i in input_dict:
  print(i)

1
2
3

In [16]:
input_str="I love programming in python"
count=0
l=['a','e','i','o','u']
for i in input_str.lower():
  if i in l:
  	count=count+1
print(count)

8

In [13]:
##Suppose you want to know the total score of the Indian cricket team in a given match. To do so, your task is to find the
##sum of all the scores of the Indian team players. The scores are provided as a list, with each element as an individual 
##score of the players. Also, 
##there is a condition that if the number of elements in the list is more than 11, then it is an invalid input and the output should be -1.

##Sample Input : [11, 13, 101, 14, 33, 141]
##Sample Output : 313
##Sample Input : [11, 13, 101, 14, 33, 141, 12, 144, 54, 67, 8, 11]
##Sample Output : -1

import ast ## abstract synta is used to change pythoncode to abstract and vice versa

#Take input 
numbers =  ast.literal_eval(input())
#Write your code here
output = 0
print(len(numbers))
if len(numbers)>11:
    output = -1
else:
    output = sum(numbers)
print(output)


## Other approach using function
##function for calculating the total scores that takes the scores list as an argument
##take scores list as input
scores=ast.literal_eval(input())
def calc_score(scores):
#If the number of score entries in the list is greater than 11, return -1
    if len(scores)>11:
        return(-1)        
#calculate the sum of scores
    else:
        return(sum(scores))
print(calc_score(scores))

 8,9,99,45,5,7,0

7
173

In [29]:
import ast
import sys


input_list = ast.literal_eval(input())
input_list1 = int(input())
print(input_list1)
print(len(input_list))
count=0
for k in input_list:
    if len(k)>=input_list1:
        count = count+1

print('Total count ',count)

 'vizag','srikakulam'
 8

8
2
Total count  1

In [54]:
##Given a list of strings, increment the value of the numeric strings by 'k’. 
##Hint: The function isdigit() may be useful here.
##['Python', '123', 'Data']
##  4
##Sample Output : ['Python', '127', 'Data']

#Input has been taken for you
import ast
input_list = ast.literal_eval(input())
K = int(input())
output_list = []

for i in range(len(input_list)):
    if input_list[i].isdigit():
        output_list.append(str(int(input_list[i]) + K))
    else:
        output_list.append(input_list[i])
print(output_list)

 'Python', '123', 'Data'
 4

['Python', '127', 'Data']

In [ ]:
## other approach

import ast
#reading the input list
input_list = ast.literal_eval(input())
K = int(input())

# Function that takes the input list and increment value as an argument 
def check(L, K):
    for i in range(len(L)):
        # incrementing on testing for digit, increment by K or else continue the loop 
        if L[i].isdigit(): 
            L[i] = str(int(L[i])+K)
        else: 
            continue
    return L


#calling the function
transformed_list = check(input_list, K)

#print the result
print(transformed_list)

In [56]:
#read the input using the ast sys
import ast
input_list = ast.literal_eval(input())
K = int(input())
#Write the code here
print(input_list[K-1:])

 ['Mumbai', 'Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']
 2

['Delhi', 'Australia', 'Nigeria', 'USA', 'London', 'Canada']

In [69]:
##Sample Input - I lovE PRogrAMMing
##Sample Output - 6
##Explanation - AMMING is the largest substring with all characters in uppercase continuously 

def find_largest_uppercase_substring(s):
    max_length = 0
    current_length = 0

    for char in s:
        if char.isupper():
            current_length += 1
        else:
            max_length = max(max_length, current_length)
            current_length = 0

    # Check if the last substring is the largest
    max_length = max(max_length, current_length)

    return max_length

# Example string
my_string = "I lovE PROogrAMmng"

# Find the length of the largest substring of uppercase characters
result = find_largest_uppercase_substring(my_string)
print(result)

3

In [80]:
##Sample Input - [(45,77), (88,87), (67,98), (33,31)]
##In (45,77), which is the first element in the list, 45 and 77 are the scores of a student in aptitude and physics respectively.
##Sample Output - [ (67,98), (88,87), (45,77),(33,31)]

import ast
input_list = ast.literal_eval(input())
# Sort the list based on the second element of each tuple
sorted_list = sorted(input_list, key=lambda x: x[1],reverse=True)

print("Sorted list:", sorted_list)

 [(45,77), (88,87), (67,98), (33,31)]

Sorted list: [(67, 98), (88, 87), (45, 77), (33, 31)]

In [ ]:
## other approach
##Sample Input - [(45,77), (88,87), (67,98), (33,31)]
##In (45,77), which is the first element in the list, 45 and 77 are the scores of a student in aptitude and physics respectively.
##Sample Output - [ (67,98), (88,87), (45,77),(33,31)]

import ast
#Take input
input_list = input()
tup = ast.literal_eval(input_list)    
# Function to sort the list by second item of tuple 
def sort(tuples): 
    return sorted(tuples, key=last , reverse=True)     
# key is set to sort using second element of tuple  
def last(n): 
    return n[-1]    
# printing the sorted list of tuples 
print(sort(tup))

In [91]:
##Given an integer ‘n’, your task is to write a
##Python code to find whether ‘n’ is divisible by all its digits or not. 
##If they divide the number, then the number ‘n’ is a happy number. Otherwise, it is a sad number.
##The number ‘n’ may be provided with commas. At first, you have to clean the number 
##(by removing the commas involved) and then check whether the number is happy or sad.

##Sample Input - 2,128
##Sample Output - Happy Number

inp = input()
strrep = inp.replace(',','')
int1 = int(strrep)
cout=0
for i in range(0,len(strrep)):
    if int1%(int(strrep[i]))==0:
        count=1
    else:
        count=0
        break

if count==1:
    print ('Happy Number')
else:
    print ('Sad Number')

 2,2,4

Happy Number

In [ ]:
## alternative approach
# reading input
test_str = input()

#replace special characters in number, here it is comma (,)
cleaned_test_str = test_str.replace(",","")

#convert to integer
n = int(cleaned_test_str)

# Function to check if all digits of n divide it or not
def allDigitsDivide(n):
    temp = n
    while (temp > 0):
        # Taking the digit of the number into a digit variable.
        digit = temp % 10

         #check if the digit is non-zero as any number dividing zero is invalid
         #also check if it gives a remainder of zero when it divides n
        if not(digit != 0 and n % digit == 0):
	        return False
        temp = temp // 10
    
    #If the function did not return anything until the while loop is over, 
    #it means that the number was divisible by all of its digits.
    return True
    
#call the allDigitsDivide function
if (allDigitsDivide(n)):
    print("Happy Number")
else:
    print("Sad Number" )

In [96]:
 ##{'Atletico Madrid' : ’D’ , ‘Juventus’: ‘B’, ‘Chelsea’: ‘C’ }
##[[‘Juventus’, ‘G’], [‘Chelsea’, ‘H’]]

#Take input here
#we will take input using ast sys
import ast
#reading the input dictionary
##input_dictionary = input()
##convert_dictionary = ast.literal_eval(input_dictionary)
convert_dictionary = {'Atletico Madrid' : 'D' , 'Juventus': 'B', 'Chelsea': 'C' }
#reading the input list
##input_list = input()
##convert_list = ast.literal_eval(input_list)
convert_list = [['Juventus', 'G'], ['Chelsea', 'H']]
#Write code here
for k in convert_dictionary:
    for l in convert_list:
        if k==l[0]:
            convert_dictionary[k]=l[1]

print(convert_dictionary)

{'Atletico Madrid': 'D', 'Juventus': 'G', 'Chelsea': 'H'}

In [ ]:
## other approach
import ast
#reading the input dictionary
input_dict = ast.literal_eval(input())

#reading the input list
new_recruit_scores = ast.literal_eval(input())

#Function to update the keys of the dictionary
def check(d,l):
    #loop through each key-value pair in the dictionary
    for key in d.keys():
        # loop through the list
        for ele in l:
            #check if any element of the sub list matches the key
            if ele[0]==key:
                #update the value
                d[key] = ele[1] 
            else: 
                pass
    return d

#calling the function
transformed_dictionary = check(input_dict, input_list)
#print the result
print(transformed_dictionary)

In [112]:
import ast
#reading the input dictionary
team_scores1 = ast.literal_eval(input())
team_scores = [float(x) for x in team_scores1]
#reading the input list
new_recruit_scores1 = ast.literal_eval(input())
new_recruit_scores = [float(x) for x in new_recruit_scores1]
def recruit_or_reject(team_scores, new_recruit_scores):
    # Check if the length of team_scores and new_recruit_scores is the same
    if len(team_scores) != len(new_recruit_scores):
        return "Rejected"

    # Calculate the average scores for each parameter
    team_avg = sum(team_scores) / len(team_scores)

    # Check each parameter
    count=0
    for team_score, new_recruit_score in zip(team_scores, new_recruit_scores):
        if new_recruit_score < team_score:
            count = count+1
        ##if abs(new_recruit_score - team_score) > 1:
            ##return "Rejected"
    if count >2:
        return "Rejected"

    return "Selected"
# Check if the new recruit can be selected
result = recruit_or_reject(team_scores, new_recruit_scores)
print(result)

 ['10', '5', '6', '9', '7']
 ['10', '9.8', '7.2', '1.66',  '4.3']

Selected

In [110]:
import ast
#reading the input dictionary
team_scores1 = ast.literal_eval(input())
#reading the input list
new_recruit_scores1 = ast.literal_eval(input())
print(team_scores1.update(new_recruit_scores1)) ##update for merge two dics
## another approach un packing
print({**team_scores1,**new_recruit_scores1})

 {'a':'1'}
 {'b':'2'}

None
{'a': '1', 'b': '2'}