## <font color='red'>Control Structures and Functions

### Control structures
 
If-elif-ele 

For o op

Whil  loop

List compree nsions

Dictionary compe hensions 
Fuc tions 
Map

Filter

Reduce

## zip() use cases

#### Iterating Over Multiple Iterables Simultaneously
#### Creating a Dictionary from Two Lists
#### Transposing a Matrix
#### Counting Unique Elements in Multiple Lists: You can use zip() along with Counter from the collections module to count the occurrences of elements across multiple lists

In [13]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(*matrix) ## unpacking

for a,b,c in zip(*matrix):
    print(a,b,c)

transposed = list(zip(*matrix))
print(transposed)

[1, 2, 3] [4, 5, 6] [7, 8, 9]
1 4 7
2 5 8
3 6 9
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

## Lambda functions

Lambda functions can have any number of arguments, but they can only have one expression. They are useful when you need a simple function for a short period of time

### Syntax : lambda arguments: expression

In [14]:
## simple example of lambda 
add = lambda x, y: x + y
print(add(5, 3))  # Output: 8

8

One common use case is with the map() function, which applies a given function to each item of an iterable (like a list) and returns a list of the results. Using a lambda function with map(), you can apply a simple operation to each element of a list

In [15]:
numbers = [1,2,4,5]
## print square of above list
sqlist = list(map(lambda x : x**2,numbers)) ## map is used to apply a function logic to each item
print(sqlist)

[1, 4, 16, 25]

Another common use case is with the filter() function, which creates a new iterable from elements of the original iterable for which a function returns true. Again, a lambda function can be used here to define the condition

In [16]:
## get odd numbers from given list
numlist = [1,4,5,6,7,8,9,13,15,24,36,79]
oddnumlist = list(filter(lambda x:x%2 !=0 ,numlist))
print('odd number list :',oddnumlist)

odd number list : [1, 5, 7, 9, 13, 15, 79]

#### Ex. Write a python program to count the students above age 18

In [17]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

The reduce() function in Python is used to apply a function to an iterable (such as a list) and reduce it to a single cumulative value. It is part of the functools module in Python 3. The reduce() function works by taking the first two elements of the iterable and applying the function to them. Then it takes the result and the next element, and applies the function again, and so on, until all elements have been processed.

### Syntax : 
from functools import reduce
reduce(function, iterable[, initializer])


function: The function to be applied to the elements. It should take two arguments.
iterable: The iterable to be reduced.
initializer (optional): If provided, it will be placed before the items of the iterable in the calculation, and serves as a default when the iterable is empty.

In [19]:
## total of the given list
from functools import reduce

list_1 = [1,6,7,8,9]
sum = reduce(lambda x,y : x+y,list_1)
print(sum)

31

In [21]:
## find max number from list
from functools import reduce

list_2 = [9,23,58,90,76,900,54]
maxi = reduce( lambda x,y : x if x>y else y,list_2)
print(maxi)

900

In [23]:
a=10
b=16
c=20

if( a>b & a>c ):
    print("a")
elif( b>a & b>c):
    print("b")
else:
     print("c")

c

## <p><font color='red'>Boot camp 3rd week 13th April 6:00 pm</p>
### <b>Functional Programming</b>
###### Lambda
###### Apply
###### Map-Filter-Reduce
### I/O error handling

In [3]:
# example of function , unctions not used any pulic,private ,protect keywords, no return data type like retun string,boolean
def myworld():
    print('hellooooo')

print('out side of fuction')

out side of fuction

In [4]:
myworld()

hellooooo

In [6]:
def addnum(n1,n2):
    return n1+n2

In [7]:
total = addnum(2,3)
print(total)

5

In [ ]:
## lambda for simple operations with out any implementation functions
## syntax like lambda arguments:operation
lambda x,y:x+y

In [9]:
## *args -- we can pass any number of args

def students(*students):
    print('Hi brilliant !!!!',students)

students('Ravi','Ramu','Raja')
students('Ravi')

Hi brilliant !!!! ('Ravi', 'Ramu', 'Raja')
Hi brilliant !!!! ('Ravi',)

In [18]:
## Apply function , use tables , rows and columns generally use apply function
## every fumction inside clik shift+tab to dive detail description
import numpy as np
import pandas as pd

df = {"A":[1,2,3,4,5,6],"B":[10,20,30,40,50],"C":[100,200,300,400,500]}
df1= pd.DataFrame(df)
print(df1)    
def sq(x):
     return x**2
##df.apply(sq,axis=0)

ValueError: All arrays must be of the same length

In [1]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [6]:
import ast,sys
input_str = 'apple'

vowels = ['a','e','i','o','u']
#Write your code here
if input_str[0].lower() in vowels:
    print ('YES')
else:
    print( 'NO')
#Use capital YES or NO

YES

In [11]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L1)):
    L3.append(L2[i] - L1[i])
    print(i)
L3

0
1
2
3
4

[-2, -6, -15, -4, -8]

In [23]:
import ast,sys
##input_str = sys.stdin.read()
##input_list = ast.literal_eval(input_str)
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']
input_list2=[]
# Type your code here
for i in input_list:
    ##input_list2.append(i.lower().capitalize()) ## this approach is ok but no need to use lower
    ## optimize approach
    input_list2.append(i.capitalize())

input_list2 ## ouput like ['Varma', 'Raj', 'Gupta', 'Sandeep']

['Varma', 'Raj', 'Gupta', 'Sandeep']

In [24]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [25]:
list(range(-100, -1, 2))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [27]:
list(range(0, -101, 2))

[]

In [28]:
sorted(set(range(-2, -101, -2)))

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [29]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

### List Comprehensions

In [31]:
#You are given an integer 'n' as the input. 
#Create a list comprehension containing the squares of the 
#integers from 1 till n^2 (including 1 and n), and print the list. 

n = int(input())
list_1 = [ i**2 for i in range(1,n+1) ]
print(list_1)

 4

[1, 4, 9, 16]

In [32]:
list = ['wood','old','apple','big','item','euphoria']
## extract vowels list from input list using comprehension
vowels = ['a','e','i','o','u']  ## oter approach take vowels = 'aeiou'
list_1 = [i for i in list if i[0].lower() in vowels ]
print(list_1)

['old', 'apple', 'item', 'euphoria']

In [33]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

## equielent comprehension code
output_dict= {val : val**3 for val in input_list if val % 3 == 0}

TypeError: 'list' object is not callable

In [34]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [35]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [36]:
##Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.

def squ(x,y):
    return x**y

print(squ(3,4))

81

In [45]:
def func(x, y):
     z = x * y + x + y
     return z

func(2,3)

11

In [46]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [47]:
def func(x, y):
    z = x * y + x + y
    return z

func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [48]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [49]:
##Functions can be used inside a list comprehension 
L1 = [2, 7, 8, 10, 3]

def func(y):
    return y**2- 2 * y - 2

ans_list = [func(x) for  x in L1 ]
ans_list

[-2, 33, 46, 78, 1]

In [60]:
a=5
b=2

def greater1():
    return lambda a,b: a if a>b else b
greater = greater1()
print(greater(a,b))

## ptimized apprach 
greater = lambda a,b: a if a>b else b
print(greater(a,b))

5
5

In [61]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

## <p><font color='red'>Boot camp 3rd week 14th April 6:00 pm</p>

In [7]:
fruits = ['apple','orange','orange','banana']
berries = ['cherry','strawberry','blueberry']

#combine two list
list1 = fruits+berries
# sort in reverse order
list1.sort(reverse=True)


# replace apple by 'green apple'
list1[-1]='green apple'

# remove blue berry
list1.remove('blueberry')
print(list1)
# display number of fruits in list
list2 = list(filter(lambda x : x in fruits,list1))
list2

['strawberry', 'orange', 'orange', 'cherry', 'banana', 'green apple']

['orange', 'orange', 'banana']

In [24]:
# create a dictionary with 
# keys -- > brand, model, year # values -- > ford, mustand, 1980
# change year to 1990 # add new key:value pair as color --> red 
# remove model from dictionary
dic = {'brand':'ford' , 'model':'mustand' ,'year':'1980'}
dic['year'] = '1990'
dic['color']='red'
dic

{'brand': 'ford', 'model': 'mustand', 'year': '1990', 'color': 'red'}

In [45]:
#Using the function Map, count the number of words that start with ‘S’ in input_list.
input_list = ['Santa Cruz','Santa fe','Mumbai','Delhi']
list1 = list(filter(lambda x: x[0]=='S',input_list))
##len(list1)

##print(sum(map(lambda x: x[0] == 'S', input_list)))
count = sum(list(map(lambda x: x[0] == 'S', input_list)))
print(count)

2

In [46]:
input_1 = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
## out put expected to be ['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']
list_out = list(map(lambda x,y : x+' '+y,input_1[0],input_1[1]))
print(list_out)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [4]:
def test():
    """ is it my function iam looking.. this cooment we can access from other file also with in function comment using doc string it will give us purpose of the function"""
    return 'hello iam here'

In [5]:
test._doc_

AttributeError: 'function' object has no attribute '_doc_'

In [2]:
##Extract a list of numbers that are multiples of 5 from a list of integers named input_list.
input_l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
list(filter(lambda x : x%5==0,input_l))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [6]:
input_list = ['soap','sharp','shy','silent','ship','summer','sheep']
## extract list starts with s and ends with p
list(filter(lambda x : x[0]=='s' and x[-1]=='p',input_list))

['soap', 'sharp', 'ship', 'sheep']

In [12]:
## reduce function use
from functools import reduce

list1 = ['All','you','have','to','fear','is','fear','itself']
reduce(lambda x,y:x+' '+y,list1)

'All you have to fear is fear itself'

In [13]:
## find max from list using reduce
from functools import reduce
list1 = [65,76,87,23,12,90,99]
reduce(lambda x,y:x if x>y else y,list1)

99

In [1]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [2]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [3]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [4]:
def function(n):
  n=n+1
 
n=2
print(function(2))

None

In [5]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

In [6]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

In [7]:
f=lambda x:bool(x%2)
print(f(100)* f(101))

0

In [8]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [9]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [10]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x0000019703EBF7C0>

In [11]:
from functools import reduce
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

In [12]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)

1

In [13]:
lis=[1, 2, 3, 4, 5]
c=lis[0]
for i in range(len(lis)-1):
    if lis[i]<c:
       c=lis[i]
print(c)

1

In [14]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [15]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))

[12, 20, 28]

In [17]:
#input = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
input = [500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]
list(filter(lambda x : x%2==0,input))

[500, 2112, 5894, 9062, 600]

In [18]:
# triple the list of integers

input_list = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
list(map(lambda x : x*3,input_list))

[15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

In [34]:
## revese the name of the items and make upper case list
input = ['Ronaldo', 'Cristiano', 'Rakesh', 'Ronak']

#def reverse_letter(n):
    #print(n[::-1].upper())
#reverse_letter('Ronaldo')
##list(map(lambda x : 
list(map(lambda x : x[::-1].upper(),input))

['ODLANOR', 'ONAITSIRC', 'HSEKAR', 'KANOR']

## <h color='red'>Question</h> : 
Given is a list consisting of dictionary elements. Each dictionary contains the name of a student as a first item 
and his/her corresponding rank as the second item. Your task is to write a Python program to print the list (dictionary elements) 
in a sorted ascending order according to student ranks. In case the rank of two or more students are the same,
then sort them in ascending order (alphabetically) according to their names

Sample input: [{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

Sample output: [{ "name" : "Aravind" , "rank" : 19 }, { "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },

]

In [93]:
input_list = [{ "name" : "Arpit", "rank" : 20}, { "name" : "Aanjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]

def sort_by_rank(x,y):
    if x[1]==y[1]:
        return sorted(x[0])
    else:
        return sorted(x[1])
dic = input_list[0]
print(dic['rank'])
x = dic.values()
val = lambda x: (x['rank'],x['name'])
print(val)

sorted_list = sorted(input_list, key=lambda x: (x['rank'],x['name']))
print(sorted_list)

20
<function <lambda> at 0x0000019704CE5DA0>
[{'name': 'Aravind', 'rank': 19}, {'name': 'Aanjeet', 'rank': 20}, {'name': 'Arpit', 'rank': 20}]

In [127]:
input1 = ['Siddharth', 'Gaurav', 'Prasad', 'Kuldeep', 'karna']
input2 = ['siddharth', 'Gaurav', 'Prasad', 'Kuldeep', 'karna']
input3 = ['Siddharth', 'gaurav', 'PRASAD', 'KuLDEEp', 'KARNA']

l_input1 = [elem.lower() for elem in input1]
l_input2 = [elem.lower() for elem in input2]
l_input3 = [elem.lower() for elem in input3]
print(l_input2)

#final_list = input1+input2+input3
#print(final_list)
##lowercase_list = [elem.lower() for elem in final_list]
##final_list1 = list(set(filter(lambda x  :  x if lowercase_list.count(x)==3  else '' ,lowercase_list)))
#print(final_list1)
final_list2 = list(filter(lambda x : x in l_input1 and x in l_input2 and x in l_input3,l_input1))
print(final_list2)
##print(list(filter(lambda x  :  x if final_list1.count(x)==1  else '',final_list1)))

['siddharth', 'gaurav', 'prasad', 'kuldeep', 'karna']
['siddharth', 'gaurav', 'prasad', 'kuldeep', 'karna']

In [128]:
## other approach for above problem

import ast

#read the input here.
input_lst = input()
round_1 = ast.literal_eval(input_lst )

#read the input here.
input_lst = input()
round_2= ast.literal_eval(input_lst )

#read the input here.
input_lst = input()
round_3= ast.literal_eval(input_lst )



def interSection(list1,list2): 

    #convert all the names to lowercase so that casing does not become a problem.

    list1 = list(map(lambda name: name.lower(), list1))
    list2 = list(map(lambda name: name.lower(), list2))

    #use the filter function as the final list  is a subset.
    #check for values that are present in both list1 and list2.

    result = list(filter(lambda x: x in list1, list2))
    return result


intersection_round1_round2 = interSection(round_1,round_2)

final_result = interSection(intersection_round1_round2,round_3)

print(final_result)

TypeError: 'list' object is not callable

In [147]:
 input_list = [{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}]

#list(filter(lambda x : x if len(x),input_list))

sorted_list = sorted(input_list, key=lambda x: len(x),reverse=True)
print(sorted_list)

[{4: 'Viking', 9: 'Happy', 10: 'Tony', 2: 'Rogers'}, {1: 'Ronaldo', 29: 'Harish', 7: 'Ganesh'}, {12: 'Vikram', 19: 'Vipan'}, {3: 'Kohli'}]