In [1]:
# implicit : data type conversion takes place automatically

int_1 = 5
int_2 = 2

result = int_1/int_2
print(result)

2.5

In [6]:
type(int_2)

int

In [4]:
type(result)

float

In [7]:
# explicit : we need some human intervention to do type casting

# find age
# birth year input from user
birth_year = input("enter your birth year:   ")

age = 2024-birth_year
print(age)

enter your birth year:   2000

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [8]:
type(birth_year)

str

In [9]:
birth_year = int(input("enter your birth year:   ")) # type casting

age = 2024-birth_year
print(age)

enter your birth year:   1990
34

In [11]:
print(float(3),int(3.78757857878788748))

3.0 3

In [12]:
# List

In [14]:
courses = ['python','R','java','c','c++']

In [ ]:
# 'python','R'
# 'python','java'
# last element of list
# number of elements in list

# add 'matlab' to list
# remove 'R' from list
# sort in dsc order

In [15]:
courses[0:2]

['python', 'R']

In [16]:
courses[0:3:2]

['python', 'java']

In [17]:
courses[-1]

'c++'

In [18]:
len(courses)

5

In [19]:
courses.append('matlab')
courses

['python', 'R', 'java', 'c', 'c++', 'matlab']

In [21]:
courses.remove('R')

In [22]:
courses

['python', 'java', 'c', 'c++', 'matlab']

In [23]:
courses.reverse()

In [25]:
courses.sort()

In [27]:
courses.reverse()

In [28]:
courses

['python', 'matlab', 'java', 'c++', 'c']

In [ ]:
fruits = ['apple','orange','orange','banana']
berries = ['cherry','strawberry','blueberry']

# combine two list
# sort them in dsc order
# from sorted list replace apple by 'green apple'
# remove blueberry from list
# display number of fruits in combined list

In [ ]:
# tuple

# create tuple with values Tshirt, nike, XL, 850
# youdid  a mistake while specifying size ,  correct it to M

# original , corrected tuple

In [29]:
tuple_list = ("Tshirt","nike","xL",850) 
a = list(tuple_list) 
a[2] = "M"  
tuple(a)

('Tshirt', 'nike', 'M', 850)

In [30]:
fruits = ['apple','orange','orange','banana']

In [33]:
fruits[0] = 'green apple'

In [34]:
fruits

['green apple', 'orange', 'orange', 'banana']

In [36]:
fruits.index('orange')

1

In [37]:
len(fruits)

4

In [ ]:
# create a dictionary with 

# keys -- > brand, model, year
# values -- > ford, mustand, 1980

# change year to 1990
# add new key:value pair as color --> red
# remove model from dictionary

In [38]:
d = {"brand": "ford", "model": "mustang", "year":1980} 
d["year"] = 1990
d["color"] = "red" 
del d["model"]

In [39]:
d

{'brand': 'ford', 'year': 1990, 'color': 'red'}

# Functions

In [40]:
# defining a function
def area_or_circle(r,pi):
    area = pi*(r**2)
    return area

In [41]:
# call a function
area_or_circle(10,3.14)

314.0

In [42]:
# scenario 1  : function may or many not return any value

def welcome():
    print("welcome to world of coding")

In [43]:
welcome()

welcome to world of coding

In [44]:
# scenario 2 : function params order

area_or_circle(3.14,10)

98.596

In [45]:
# scenario 3 : function params can be default
def area_or_circle1(r,pi = 3.14): # params
    area = pi*(r**2)
    return area

In [47]:
a=area_or_circle1(10) # argument

In [48]:
a

314.0

In [52]:
def iseven(n):
    """ Return true if even number else return false"""
    if n%2==0:
        return True
    else:
        return False

In [54]:
iseven.__doc__

' Return true if even number else return \n    \n    \n    \n    false'

# Lambda

In [55]:
def cube(n): 
    return n*n*n

In [56]:
cube(2)

8

In [57]:
c = lambda x : x*x*x

In [58]:
c(2)

8

In [59]:
(lambda x : x*x*x)(2)

8

In [60]:
# lambda with map()
nums = [1,2,3,4,5,6,7]

In [63]:
sqrs = list(map(lambda x:x**2 , nums))
print(sqrs)

[1, 4, 9, 16, 25, 36, 49]

In [65]:
# normal method
sq = []
for i in nums:
    s = i*i
    sq.append(s)
sq

[1, 4, 9, 16, 25, 36, 49]

In [66]:
# lambda with reduce()

import functools  # is mandatory

functools.reduce((lambda x,y: x+y),nums)

28

In [69]:
nums

[1, 2, 3, 4, 5, 6, 7]

In [70]:
# lambda with filter

evens = list(filter(lambda x:x%2==0,nums))
print(evens)

[2, 4, 6]

In [72]:
op = list(filter(lambda x:x>2,nums))
print(op)

[3, 4, 5, 6, 7]

In [73]:
# without map

def sqr(n):
    return n*n

x = sqr(10)
print(x)

100

In [75]:
# map(function ,iterables)

y = list(map(sqr,[2,3,4]))
print(y)

[4, 9, 16]

In [76]:
def addition(n1,n2):
    return n1+n2

In [77]:
x = list(map(addition,[10,20,30],[1,2,3]))
print(x)

[11, 22, 33]

In [78]:
# convertion from cel to frh (temp)

def cel_to_fr(cel):
    return ((cel*9/5)+32)

In [79]:
inp_temp = [0,10,30,50]
output = list(map(cel_to_fr,inp_temp))
print(output)

[32.0, 50.0, 86.0, 122.0]

In [80]:
fruits = ['apple','orange','orange','banana']

def capitalize_names(fruit_name):
    return fruit_name.capitalize()

In [81]:
list(map(capitalize_names,fruits))

['Apple', 'Orange', 'Orange', 'Banana']

In [82]:
sent = "i love india it will always win"

x = list(map(capitalize_names,sent.split()))
x

['I', 'Love', 'India', 'It', 'Will', 'Always', 'Win']

In [83]:
" ".join(x)

'I Love India It Will Always Win'

In [85]:
sales = [7,3,1,8,7,9,2]

In [86]:
functools.reduce(lambda x,y : x if x>y else y, sales)

9

In [88]:
marksheet = [('maths',34),('SS',55),('science',41)]

In [89]:
# x = ('maths',34)  x[1] = 34
# y = ('SS',55)     y[1] = 55


def get_total(x,y):
    if type(x)==int:
        return x+y[1]
    else:
        return x[1]+y[1]

In [90]:
functools.reduce(get_total,marksheet)

130

In [ ]:
dividend = int(input("enter the dividend : "))
divisor = int(input("enter the divisor : "))
quotient = dividend // divisor
remainder = dividend % divisor

print('quotient : ',quotient)
print('remainder : ',remainder)

In [ ]:
try:
    dividend = int(input("enter the dividend : "))
    divisor = int(input("enter the divisor : "))
    quotient = dividend // divisor
    remainder = dividend % divisor
except Exception:
    print("something went wrong")

else:
    print('quotient : ',quotient)
    print('remainder : ',remainder)

In [ ]:
try:
    dividend = int(input("enter the dividend : "))
    divisor = int(input("enter the divisor : "))
    quotient = dividend // divisor
    remainder = dividend % divisor
except ZeroDivisionError:
    print("Divisor cannot be zero, please try again")
except ValueError:
    print("please enter positive numbers only")
else:
    print('quotient : ',quotient)
    print('remainder : ',remainder)