### <font color='red'> List Append ,Extend

In [5]:
l = [1,2,3,'raja']
#append will append the list 
l.append([6,7])
print(l)

[1, 2, 3, 'raja', [6, 7]]

In [6]:
#extend means added list will add individual values
l.extend([9,0,4])
l

[1, 2, 3, 'raja', [6, 7], 9, 0, 4]

In [7]:
l=l+[10,'santosh']
l

[1, 2, 3, 'raja', [6, 7], 9, 0, 4, 10, 'santosh']

### <font color='green'> pop() remove()
### <font color='green'>pop by default remove last item in the list or specify index pop(idex)
### <font color='green'>remove removes the first item bydeafult

In [13]:
l = [1,2,3,'raja']
print('list before pop',l)
l1= l.pop() ## remove last entry by default
print('list after pop',l)

list before pop [1, 2, 3, 'raja']
list after pop [1, 2, 3]

In [14]:
l2 = l.pop(1)
print('list after pop',l)

list after pop [1, 3]

In [15]:
l = [1,2,3,'raja','santosh',0,5,7,2,3,1,'the']
l1 = l.remove()
print('list after remove',l1,l)

TypeError: list.remove() takes exactly one argument (0 given)

In [16]:
l1 = l.remove(2)
print('list after remove',l1,l)

list after remove None [1, 3, 'raja', 'santosh', 0, 5, 7, 'the']

In [17]:
l2 = l.remove('the')
print('list after remove',l)

list after remove [1, 3, 'raja', 'santosh', 0, 5, 7]

In [18]:
print('before sort',l)
l.sort() ## not supported because it has both int and string mixed data types
print('after sort',l)

before sort [1, 3, 'raja', 'santosh', 0, 5, 7]

TypeError: '<' not supported between instances of 'str' and 'int'

In [19]:
l=[1,7,3,4,9,5]
print('before sort',l)
l.sort()
print('after sort',l)

before sort [1, 7, 3, 4, 9, 5]
after sort [1, 3, 4, 5, 7, 9]

In [21]:
l.sort(reverse=True)
print('after reverse sort',l)

after reverse sort [9, 7, 5, 4, 3, 1]

### <font color='green'> difference between sort and sorted

In [22]:
a = ['ornage','bluberry','mango','kiwi']
b= a.sort()
print('a : ',a) ## after sorting applied, a list will be sorted and b will not store any value
print('b :',b)

a :  ['bluberry', 'kiwi', 'mango', 'ornage']
b : None

In [23]:
a = ['ornage','bluberry','mango','kiwi']
b = sorted(a)
print('a : ',a) ## after sorted method applied, a will be as it is and b list will be stored sorted list values
print('b :',b)

a :  ['ornage', 'bluberry', 'mango', 'kiwi']
b : ['bluberry', 'kiwi', 'mango', 'ornage']

### <font color='blue'> Exercise

In [24]:
##Suppose list_1 is [2, 33, 222, 14, 25]. What is list_1[-5]?
list_1 = [2, 33, 222, 14, 25]
print(list_1[-5]) ##list with negitive index will star from end with "-1" answe should be '2'

2

In [25]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

##Answer :  We are indexing all the elements of the list 'word' to an empty list; hence, 
##the final output would be an empty list. Hence, this method can also be used to delete all the 
##items from a list.

[]

In [26]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

## Answer : sorted(L) will return a sorted list, and when it comes to strings, 
##it happens based on the character ASCII values. First, it compares the ASCII values of 
##the first characters and sorts the strings. If the first characters have the same value, then 
##it proceeds to the second characters and compares their ASCII values; if this matches again, 
##then it proceeds to the third characters, 
##and this continues until you have sorted them. In this way, the strings are sorted in a list.

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [29]:
##Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

input_list = ['SAS', 'R', 'PYTHON', 'SPSS']
# Write code to remove 'SPSS'
input_list.remove('SPSS')
input_list.append('SPARK')
# Write code to append 'SPARK'
print(input_list)

['SAS', 'R', 'PYTHON', 'SPSS']
['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [34]:
##Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
##Pythons syntax is easy to learn & Pythons syntax is very clear
input_str = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
sentence = input_str[0]+' & '+input_str[1]
print(sentence)
## other way and optimized way to do same solution as below
string_1 = ' & '.join(input_str) ## join will take only one argument
string_2 = ' * '.join(input_str) # if you apply join for list it will append the list items and provide a string 
string_3 = ' # '.join(string_1) ## if you apply join for string it will take each char and append the '#'
print(string_1,string_2)
print(string_3)

Pythons syntax is easy to learn & Pythons syntax is very clear
Pythons syntax is easy to learn & Pythons syntax is very clear Pythons syntax is easy to learn * Pythons syntax is very clear
P # y # t # h # o # n # s #   # s # y # n # t # a # x #   # i # s #   # e # a # s # y #   # t # o #   # l # e # a # r # n #   # & #   # P # y # t # h # o # n # s #   # s # y # n # t # a # x #   # i # s #   # v # e # r # y #   # c # l # e # a # r

### <font color='green'>shadowcopying

In [35]:
a = ['mango','ornage','blue berries']
b=a ## copy a list to b , is a shadow copy , if you change in a list automatically changes effected in b list
print(a,b)

['mango', 'ornage', 'blue berries'] ['mango', 'ornage', 'blue berries']

In [36]:
a[0]='Apple'
print(a,b) ## changed in two lists

['Apple', 'ornage', 'blue berries'] ['Apple', 'ornage', 'blue berries']

In [37]:
## inorer to aviod change b list even if a changed 
a = ['mango','ornage','blue berries']
b=a[:]
print(a,b)

['mango', 'ornage', 'blue berries'] ['mango', 'ornage', 'blue berries']

In [38]:
a[0]='Apple'
print(a,b) # now b will not change

['Apple', 'ornage', 'blue berries'] ['mango', 'ornage', 'blue berries']

### <font color='blue'>Exercise

In [39]:
##How will I extract Python from the nested list
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list[2][0])

Python

In [40]:
##Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code.
##In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.
input_str = 'Kumar_Ravi_003'
userInfoList = input_str.split("_")
print(f'{userInfoList[1]}\n{userInfoList[0]}\n{userInfoList[2]}')

Ravi
Kumar
003

### <font color='red'>Boot camp week 2 live session practices , 06/04/2024 2:00 pm - 5:00 pm