In [ ]:
# !pip install numpy -- required only when numpy is not installed

In [1]:
# import numpy 

import numpy as np

In [2]:
# create an ND array from python list

mylist = [1,2,3,4,5]

In [3]:
type(mylist)

list

In [4]:
# np.array() : which will convert given object into an array

my_arr = np.array(mylist)

In [5]:
print(my_arr)

[1 2 3 4 5]

In [6]:
type(my_arr)

numpy.ndarray

In [7]:
print(mylist)
print(my_arr)

[1, 2, 3, 4, 5]
[1 2 3 4 5]

In [47]:
list(my_arr)

[1, 2, 3, 4, 5]

In [ ]:
# mylist is python list which does not support much scientific cal
# my_arr is vector nd array which supprorts many math / sci  cal

In [ ]:
# just for demo purpose / no need of attempting this lab

In [9]:
import cv2

In [10]:
pic = cv2.imread('sample_img.jpeg')

In [11]:
pic

array([[[158, 138,  53],
        [159, 139,  54],
        [159, 139,  54],
        ...,
        [125,  67,  62],
        [128,  71,  62],
        [136,  79,  70]],

       [[159, 139,  54],
        [159, 139,  54],
        [160, 140,  55],
        ...,
        [114,  58,  53],
        [115,  60,  53],
        [122,  67,  60]],

       [[160, 139,  57],
        [161, 140,  58],
        [161, 140,  58],
        ...,
        [105,  50,  47],
        [103,  49,  42],
        [111,  57,  50]],

       ...,

       [[ 85,  79, 120],
        [ 84,  78, 119],
        [ 83,  77, 118],
        ...,
        [ 66,  70, 129],
        [ 68,  72, 131],
        [ 68,  72, 131]],

       [[ 98,  88, 124],
        [ 98,  88, 124],
        [ 97,  87, 123],
        ...,
        [ 65,  68, 129],
        [ 66,  69, 130],
        [ 66,  69, 130]],

       [[108,  94, 128],
        [108,  94, 128],
        [106,  92, 126],
        ...,
        [ 66,  67, 128],
        [ 66,  67, 128],
        [ 66,  67, 128]]], dtype=uint8)

In [12]:
type(pic)

numpy.ndarray

In [77]:
pic.shape

(151, 270, 3)

# Numpy vs Python

In [13]:
# speed # storage

In [14]:
# how much memory is consumed by single digit
num = 4

In [15]:
import sys

In [16]:
sys.getsizeof(num) , ' bytes'

(28, ' bytes')

In [17]:
# for 1000 intigers i need 28000 bytes

In [18]:
my_arr

array([1, 2, 3, 4, 5])

In [19]:
# itemsize : return size of single element in given array

In [20]:
my_arr.itemsize, ' bytes'

(8, ' bytes')

In [ ]:
# for 1000 integers i am saving 20000

In [22]:
len(mylist)*28, ' bytes'

(140, ' bytes')

In [23]:
my_arr.nbytes, ' bytes'

(40, ' bytes')

In [24]:
len(mylist)

5

In [41]:
import time

In [42]:
time.time()

1713613189.312278

In [43]:
size = 1000000

l1 = range(size) # 0, 1, 2......
l2 = range(size) # 0, 1, 2

ar1 = np.arange(size)
ar2 = np.arange(size)

start = time.time()
result1 = [x+y  for x,y in zip(l1,l2)]
stop = time.time()
print("time taken : ", (stop-start)*1000, 'ms')

time taken :  299.64399337768555 ms

In [44]:
size = 1000000

l1 = range(size) # 0, 1, 2......
l2 = range(size) # 0, 1, 2

ar1 = np.arange(size)
ar2 = np.arange(size)

start1 = time.time()
result2 = ar1+ar2
stop1 = time.time()

print("time taken : ", (stop-start)*1000, 'ms')

time taken :  299.64399337768555 ms

In [46]:
result2

array([      0,       2,       4, ..., 1999994, 1999996, 1999998])

# Numpy

In [ ]:
# creating 1D array

In [48]:
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [61]:
a[2]

3

In [49]:
# creating 2D array

In [50]:
mylist = [[1,2,3],[4,5,6]]
b = np.array(mylist)
b

array([[1, 2, 3],
       [4, 5, 6]])

In [62]:
b[1][1]

5

In [52]:
# shape : returns rows and columns

b.shape

(2, 3)

In [53]:
# ndim : returns number of dimentions 
a.ndim

1

In [54]:
b.ndim

2

In [55]:
# create 3 dimentional array

In [60]:
b

array([[1, 2, 3],
       [4, 5, 6]])

In [80]:
mylist1 = [
    [[1,2,3],[4,5,6]],
    [[8,9,10],[11,12,13]]
]

c = np.array(mylist1)

In [83]:
c

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 8,  9, 10],
        [11, 12, 13]]])

In [58]:
c.shape

(2, 2, 3)

In [59]:
c.ndim

3

In [68]:
c[1][0][2]

10

In [69]:
# slicing

In [70]:
b

array([[1, 2, 3],
       [4, 5, 6]])

In [72]:
b[1 , 1:]

array([5, 6])

In [73]:
c

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 8,  9, 10],
        [11, 12, 13]]])

In [74]:
c[1,:2]

array([[ 8,  9, 10],
       [11, 12, 13]])

In [75]:
c[1,:]

array([[ 8,  9, 10],
       [11, 12, 13]])

In [84]:
# statistical operations

In [85]:
arr1 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]],dtype = 'float')
arr1

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.],
       [ 9., 10., 11., 12.]])

In [86]:
print("mean value is : ", arr1.mean())
print("max value is : ", arr1.max())
print("min value is : ", arr1.min())
print("Total value is : ", arr1.sum())

mean value is :  6.5
max value is :  12.0
min value is :  1.0
Total value is :  78.0

In [87]:
print("Column wise summation is : ", np.sum(arr1, axis = 0))

Column wise summation is :  [15. 18. 21. 24.]

In [88]:
print("row wise summation is : ", np.sum(arr1, axis = 1))

row wise summation is :  [10. 26. 42.]

In [89]:
print("Column wise minimum is : ", np.amin(arr1, axis = 0))
print("row wise minimum is : ", np.amin(arr1, axis = 1))

Column wise minimum is :  [1. 2. 3. 4.]
row wise minimum is :  [1. 5. 9.]

In [91]:
x = np.array([[1,2],[3,4]])
y = np.array([[2,3],[4,5]])

In [94]:
x+y

array([[3, 5],
       [7, 9]])

In [95]:
x*y

array([[ 2,  6],
       [12, 20]])

In [96]:
x/y

array([[0.5       , 0.66666667],
       [0.75      , 0.8       ]])

In [99]:
dist = [180,170,135,191,250]
time = [6,7,10,13,11]

d_arr = np.array(dist)
t_arr = np.array(time)

s_arr = d_arr/t_arr

In [98]:
s_arr

array([30.        , 24.28571429, 13.5       , 14.69230769, 22.72727273])

In [100]:
# filtering an array

In [102]:
s_arr[s_arr<20]

array([13.5       , 14.69230769])

In [103]:
arr_1 = np.array([1,2,3,4,5,6,7,8,9,10,11,12])

In [104]:
arr_1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [105]:
# convert single dimentional array to mutli dimentional array

# reshape

In [106]:
arr_1.shape

(12,)

In [107]:
new_arr = arr_1.reshape(3,4)
new_arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [108]:
new_arr.shape

(3, 4)

In [109]:
new_arr.ndim

2

In [110]:
new_arr1 = arr_1.reshape(3,5)
new_arr1

ValueError: cannot reshape array of size 12 into shape (3,5)

In [111]:
new_arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [112]:
new_arr.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [113]:
# trigo

In [114]:
np.sin(np.pi/2)

1.0

In [115]:
np.cos(np.pi/2)

6.123233995736766e-17

In [116]:
np.cos(np.pi)

-1.0